---
---
//Custom SCSS
/* main */
$dummy-color: #EC4E3B;
/* version 0
$p-color: #EC4E3B; //primary/hover color
$h-color: #B3D1F0; //secondary/header color
$h3-color: #b6b6b6; //h3/th color
$l-color: #49B1F7; //links/highlights color
$d-color: #A3BFC6; //default/text color
$bg-color: #0b0c10; //background color
*/

$p-color: #333; //primary
$hov-color: #cc3366; //primary/hover color
$h-color: #333; //secondary/header color
$h3-color: #333; //h3/th color
$l-color: #333; //links/highlights color
$d-color: #333; //default/text color
$bg-color: #CCCCCC; //background color

body {
  padding: 0px 0 20px 0px;
  margin: 0px;
  font: 12px/1.5 'Cousine', monospace;
  color: $d-color;
  font-weight: normal;
  //background: {{ site.data.theme.bg }};
  background: $bg-color;
  -webkit-font-smoothing: subpixel-antialiased;
}

{% unless site.data.theme.show-scroll %}
::-webkit-scrollbar {
    width: 0 !important
}
{% endunless %}

h1, h2, h3, h4, h5, h6 {
  color: $h-color;
  margin: 0 0 10px;
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.2;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Cousine', monospace;
  font-weight: normal;
  color: $h3-color;
}

a {
  color: $l-color;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: $hov-color;
}

a:active{
  color: $d-color;
}

a:hover, a:active, a:focus, a:visited  {
  text-decoration: none;
  outline: 0;
}

.wrapper {
  max-width: {{ site.data.theme.width }};
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

section img {
  max-width: 100%;
}

blockquote {
  border-left: 3px solid $hov-color;
  margin: 0 1 auto;
  padding: 0 0 0 20px;
  font-style: italic;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #424242;
  color: $h3-color;
  font-family: 'Cousine', monospace;
  font-weight: normal;
}

td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #434343;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed $l-color;
}

dt {
  color: #F0E7D5;
  font-family: 'Cousine', monospace;
  font-weight: normal;
}

section {
  padding: 20px 0px 50px 0px;
  margin: 20px 0;

  #header {
    border: 0;
    outline: none;
    margin: 0 0 20px 0;
    padding: 0 0 5px 0;
    font-family: 'Cousine', monospace;

    h1 {
      font-weight: 100;
      font-size: 38px;
      text-align: center;
    }

    p {
      color: $h-color;
      font-weight: 100;
      font-size: 12px;
      text-align: left;
      font-size: 13px;
      margin-bottom: -25px;
    }

    .credits {
      font-size: 13px;
      margin-top: -25px;
    }
  }

    .credits {
      font-size: 20px;
      font-family: 'Cousine', monospace;
      font-weight: normal;
      color: #696969;
    }

  #header, #footer {
    .social {
      a {
        color: #333;
        font-size: 17px;
        padding-left: .25em;
        margin-top: -25px;
      }
      a:hover{
         color: $hov-color;
      }
    }
    .pull-left{
      margin-top: -25px;
    }
  }

  #footer{
    .credits {
      margin-top: -30px;
    }
  }

  .p-title{
    color: $l-color;
  }
}

.section-header-archive, .tag_name{
	margin:  15px 0 0 0;
}

.paginate{
  margin-bottom: 15px;
}

.resume p{
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 10px;
  font-family: 'Cousine', monospace;
  font-weight: normal;
  color: $d-color;
}

.tags{
 font-size: 13px;
}

.tags a {
  display: inline-block;
  margin: 0 10px 10px 0;
}

/* for circled image */
.circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  margin-bottom: 15px;
}

#header #sitename,
.resume span,
.resume h2 {
  color: $p-color;
}

#sitename{
  font-weight: 300;
}

mark, .mark {
  opacity: 0.9;
}

.orng{
  color: $p-color;
}

.center-image
{
    margin: 0 auto;
    display: block;
}